{% extends 'base.html.twig' %}
{% block body %}
    <a class="btn btn-success" href="{{ path("project_add") }}">Add Project</a>
    <hr />
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <th scope="row">{{ project.name }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}