{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ project.name }}</h1>
    <div>
        <div>
            <div>Project info:</div>
            <div>INFO!</div>
        </div>
    </div>
{% endblock %}